<template>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <router-link :to="{ name: 'FormTest' }"> FormTest </router-link>
        </li>
        <li>
          <router-link to="login"> Login </router-link>
        </li>
        <li>
          <router-link to="estudiantes" v-show="token">
            Estudiantes
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Container de pàgines -->
  <div class="app-container">
    <router-view></router-view>
  </div>
</template>

<script>
//import M from "materialize-css";
//import HelloWorld from "./components/HelloWorld.vue";
export default {
  name: "App",
  components: {
    /*
    - Components utilitzats en aquesta vista (/components)
    - No confondre amb vistes noves (/views)
    - Un component es una part del codi que funciona en un conjunt/pluguin
    - Una vista es un conjunt de components (definits com un component nou) que forma una pagina, i es carrega amb vue-router
    */
  },
  data() {
    //Return amb les dades que fem servir
    return {
      token: localStorage.getItem("token"),
    };
  },
  created() {
    //Codi una vegada generat el DOM
  },
  mounted() {
    //Codi una vegada processat l'HTML en el navegador
  },
  methods: {
    //Funcions/metodes
  },
};
</script>

<!-- Style per aquest view/component (usant el parametre scoped, aixi no afecta a la resta) -->
<style scoped>
</style>
<!-- Si es un css global (el de la vista APP.vue per exemple, aquest va sense el parametre) -->
<style>
.app-container {
  border: 1px dotted black;
  padding: 5px;
}
</style>