<template>
  <div class="container">Estudiantes</div>
  <hr />
  {{ estudiantes }}
</template>

<script>
export default {
  name: "Estudiantes",
  async mounted() {
    var token = localStorage.getItem("token");
    if (token) {
      await this.axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((response) => {
          this.estudiantes = response.data;
        });
    } else {
      this.$router.push("/login");
    }
  },
  data() {
    return {
      estudiantes: [],
      token: localStorage.getItem("token"),
    };
  },
};
</script>
