<template>
  <div class="container">
    <div class="row">
      <div class="col m12 card-panel">
        <form @submit.prevent="agregarUsuario">
          <div class="row">
            <div class="col m4">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" id="nombre" v-model="nombre" />
            </div>
            <div class="col m4">
              <label for="apellido">Apellido</label>
              <input
                type="text"
                name="apellido"
                id="apellido"
                v-model="apellido"
              />
            </div>
          </div>

          <div class="row">
            <div class="col m4">
              <label for="edad">Edad</label>
              <input type="number" name="number" id="number" v-model="edad" />
            </div>
            <div class="col m4">
              <label for="estado_civil">Estado Civil</label>
              <select
                name="estado_civil"
                id="estado_civil"
                class="browser-default"
                v-model="estado_civil"
              >
                <option value="">[Selecciona]</option>
                <option
                  v-for="estado in estados_civiles"
                  v-bind:key="estado"
                  v-bind:value="estado.id"
                >
                  {{ estado.descripcion }}
                </option>
              </select>
            </div>
            <div class="col m4">
              <label for="correo">Correo</label>
              <input type="email" name="correo" id="correo" v-model="correo" />
            </div>
          </div>
          <div class="row">
            <div class="col m4 card-panel">
              <form @submit.prevent="agregarPasatiempo">
                <label for="pasatiempo">Pasatiempo</label>
                <input
                  type="text"
                  name="pasatiempo"
                  id="pasatiempo"
                  v-model="pasatiempo"
                />
                <button type="submit" class="btn indigo darken-4">
                  Add pasatiempo <i class="material-icons right">send</i>
                </button>
                <br />
                <ul>
                  <li
                    v-for="(pasatiempo, index) in pasatiempos"
                    v-bind:key="pasatiempo"
                  >
                    {{ pasatiempo.id }} -
                    {{ pasatiempo.descripcion }}
                    <a href="!#" @click="pasatiempos.splice(index, 1)"
                      ><i class="material-icons right">close</i></a
                    >
                  </li>
                </ul>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col m4">
              <label for="suscrito">
                <input
                  type="checkbox"
                  name="suscrito"
                  id="suscrito"
                  v-model="suscrito"
                />
                <span>Suscribirse al boletin de noticias</span>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col m4">
              <button type="submit" class="btn indigo darken-4">
                {{ indice == -1 ? "Add" : "Upd" }} usuario
                <i class="material-icons right">add_circle</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <table class="table bordered striped">
          <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Estado civil</th>
            <th>Correo</th>
            <th>Pasatiempos</th>
            <th>Suscrito</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </thead>
          <tbody>
            <tr
              v-for="(usuario, index) in usuarios"
              v-bind:key="usuario"
              v-bind:class="{ 'indigo darken white-text': index == indice }"
            >
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.apellido }}</td>
              <td>{{ usuario.edad }}</td>
              <td>{{ usuario.estado_civil_descripcion }}</td>
              <td>{{ usuario.correo }}</td>
              <td>
                <ul>
                  <li
                    v-for="pasatiempo in usuario.pasatiempos"
                    v-bind:key="pasatiempo"
                  >
                    {{ pasatiempo.id }} - {{ pasatiempo.descripcion }}
                  </li>
                </ul>
              </td>
              <td>
                <label for="">
                  <input
                    type="checkbox"
                    disabled
                    name=""
                    id=""
                    v-model="usuario.suscrito"
                  />
                  <span></span>
                </label>
              </td>
              <td>
                <a href="#!" @click="editar(index)"
                  ><i class="material-icons">create</i></a
                >
              </td>
              <td>
                <a href="#!" @click="eliminar(index)"
                  ><i class="material-icons">delete</i></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "FormTest",
  data() {
    return {
      indice: -1,
      nombre: "",
      apellido: "",
      edad: 0,
      estado_civil: "",
      correo: "",
      suscrito: false,
      pasatiempo: "",
      pasatiempos: [], //["leer", "cine", "juegos ordenador", "estudiar", "deporte"],
      usuarios: [],
      estados_civiles: [
        {
          id: "S",
          descripcion: "Soltero",
        },
        {
          id: "C",
          descripcion: "Casado",
        },
        {
          id: "D",
          descripcion: "Divorciado",
        },
        {
          id: "V",
          descripcion: "Viudo",
        },
      ],
      select_instances: [],
    };
  },
  created() {
    //
  },
  mounted() {
    var elems = document.querySelector("select");
    this.select_instances = M.FormSelect.init(elems, null);

    this.axios.get("https://jsonplaceholder.typicode.com/users").then(() => {
      //funcio anonima despres de la crida
    });
  },
  methods: {
    saludar() {
      M.toast({ html: "Hola Mundo 1" });
    },
    agregarUsuario() {
      var index_estado_civil = this.estados_civiles.findIndex(
        (x) => x.id == this.estado_civil
      );
      if (index_estado_civil == -1) {
        M.toast({ html: "Seleccione un estado civil" });
        return;
      }
      var data = {
        nombre: this.nombre,
        apellido: this.apellido,
        edad: this.edad,
        estado_civil: this.estado_civil,
        estado_civil_descripcion:
          this.estados_civiles[index_estado_civil].descripcion,
        correo: this.correo,
        suscrito: this.suscrito,
        pasatiempos: this.pasatiempos,
      };
      if (this.indice == -1) {
        //Carreguem/guardem l'usuari a la taula
        this.usuarios.push(data);
      } else {
        //Actualitzem l'usuari de la taula
        this.usuarios[this.indice] = data;
      }
      //Resetejem els valors del form als estats originals
      this.indice = -1;
      this.nombre = "";
      this.apellido = "";
      this.edad = 0;
      this.estado_civil = "";
      this.correo = "";
      this.suscrito = false;
      this.pasatiempo = "";
      this.pasatiempos = [];
    },
    agregarPasatiempo() {
      var total = this.pasatiempos.length;
      var ultimo = 0;
      if (total > 0) {
        ultimo = this.pasatiempos[total - 1].id;
      }
      var data = {
        id: ultimo + 1,
        descripcion: this.pasatiempo,
      };
      this.pasatiempos.push(data);
      this.pasatiempo = "";
    },
    eliminar(index) {
      if (!confirm("¿Desea eliminar este registro?")) {
        return;
      } else {
        this.usuarios.splice(index, 1);
      }
    },
    editar(index) {
      var usuario = this.usuarios[index];
      this.indice = index;
      //Carreguem els valors al formulari
      this.nombre = usuario.nombre;
      this.apellido = usuario.apellido;
      this.edad = usuario.edad;
      this.estado_civil = usuario.estado_civil;
      this.correo = usuario.correo;
      this.suscrito = usuario.suscrito;
      this.pasatiempo = usuario.pasatiempo;
      this.pasatiempos = usuario.pasatiempos;
    },
  },
};
</script>
