<template>
  <div class="container">
    <div class="row">
      <div class="col m12 card-panel">
        <form @submit.prevent="iniciarSesion">
          <div class="row">
            <div class="col m3">
              <label for="usuario">usuario</label>
              <input
                type="text"
                name="usuario"
                id="usuario"
                v-model="usuario"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="row">
            <div class="col m3">
              <label for="clave">Clave</label>
              <input
                type="password"
                name="clave"
                id="clave"
                v-model="clave"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="row">
            <div class="col m3">
              <button v-show="!loading" type="submit">
                Login
                <i class="material-icons right">security</i>
              </button>
              <div v-show="loading" class="progress">
                <div class="indeterminate"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "Login",
  data() {
    return {
      usuario: "",
      clave: "",
      loading: false,
      token: localStorage.getItem("token"),
    };
  },
  methods: {
    async iniciarSesion() {
      var payload = {
        usuario: this.usuario,
        clave: this.clave,
      };
      this.loading = true;
      console.log("iniciarSesion()->payload:", payload);
      ///sense axios.defaults.baseUrl:
      ///await this.axios.post("https://jsonplaceholder.typicode.com/users/1");
      //amb axios.defaults.baseUrl:
      //await this.axios.post("/users/1");
      await this.axios
        .get("https://jsonplaceholder.typicode.com/users/1", payload)
        .then((response) => {
          console.log("riniciarSesion()->response: ", response);
          this.loading = false;
          if (!isNaN(response.data.id) && response.data.id > 0) {
            //Obtenir jwt de https://jwt.io/ per simular un token validat
            //Amb la comanda d'abaix s'enviarà el token en totes les peticións
            var token =
              "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c";
            this.axios.defaults.headers.common["Authorization"] =
              "Bearer " + token;
            localStorage.setItem("token", token);
            localStorage.setItem("userName", 'Ivan');
            this.$router.push("/estudiantes");
          } else {
            M.toast({ html: "Usuari inexistent" });
          }
        })
        .catch((error) => {
          var data = error.response.data;
          M.toast({ html: data.message });
          this.loading = false;
        });
    },
  },
};
</script>
