<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="css/style.css">
    <title>Tests en VueJS 3</title>
</head>

<body>


    <div id='app1'>
        Hola {{ nombre }} desde APP1, estamos en el año {{ anyo }} en el mes {{ meses[0] }}
    </div>



    <br>
    <div id='app2'>
        Hola {{ nombre }} desde APP2
    </div>



    <br>
    <div id='container1'>
        LLamada de metodos y manipulacion de datos: <br />
        Container1, contador: {{ contador }}<br>
        <button type="button" v-on:click="stopInterval"> {{ txtConst1 }} </button>
    </div>



    <br>
    <div id='container2'>
        Binding de Atributos HTML con v-bind:<br>
        Container2, <label v-bind:title="titulo">pon el cursor encima</label><br>
        <img v-bind:src="imagen" alt="" style="height:40px"><br>
        <button
            v-on:click="mostrarImagen('https://pixabay.com/get/g4f6607632a945dc98c074ab215c58fdeca774ddfd6164092c121cb70e1e000d14652ee59ee1e2a244195b4c0e8a83908_640.png')">Cambio
            de imagen</button> &nbsp;
        <button v-on:click="restablecerImagen">Restablecer imagen</button>
    </div>



    <br>
    <div id='container3'>
        Binding de Doble Vía con v-model: Interacción del Usuario<br>
        Container3, <label>Escribe tu nombre</label><br>
        <input type="text" v-model="nombre">
        <h5>Hola {{ nombre }}</h5>
        <select name="" v-model="fruta">
            <option value="pera">pera</option>
            <option value="manzana">manzana</option>
            <option value="uva">uva</option>
        </select>
        fruta seleccionada {{ fruta }}<br>
        <input type="checkbox" v-model="activo"> {{ activo }}
    </div>



    <br>
    <div id='container4'>
        Bucles: Estructura v-for, Recorrido de Arrays y Creación de Listas<br>
        Container4, <br>
        <ul>
            <li v-for="fruta in frutas" v-bind:key="fruta">{{ fruta }}</li>
        </ul>
        <ul>
            <li v-for="(fruta, index) in frutas_con_id" v-bind:key="fruta.id">[{{ index }}] - {{ fruta.id }} - {{
                fruta.nombre }}</li>
        </ul>
        <br>
        <select v-model="frutaId">
            <option v-for="fruta in frutas_con_id" v-bind:value="fruta.id">{{ fruta.nombre }}</option>
        </select>
    </div>



    <br>
    <div id='container5'>
        Bucles Anidados con v-for, Obtener Índice, Bucles a Partir de Rangos <br>
        Container5, <br>
        <ul>
            <li v-for="(fruta, index) in frutas_con_id" v-bind:key="fruta.id">[{{ index }}] - {{ fruta.id }} - {{
                fruta.nombre }}
                <ul>
                    <li v-for="(pais, index2) in fruta.paises_origen"> - [{{ index2 }}] {{ pais.id_pais }} - {{
                        pais.pais }}</li>
                </ul>
            </li>
        </ul>
        <br>
        Letras:
        <ul>
            <li v-for="a in letras"> {{ a }}</li>
        </ul>
        Numeros:
        <ul>
            <li v-for="b in 5"> {{ b }}</li>
        </ul>
    </div>



    <br>
    <div id='container6' class="container">
        Conexión a API Pública Para Datos de Prueba<br>
        + Ejemplo de Creación de Tabla <br>
        Container6, <br>
        <!-- Usuarios: {{ usuarios[0] }} <br>
        Posts: {{ posts[0] }} -->
        <table class="table stripped bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="usuario in usuarios" v-bind:id="usuario.id">
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <ul>
                            <li>Ciudad: {{ usuario.address.city }}</li>
                            <li>CP: {{ usuario.address.zipcode }}</li>
                            <li>Calle: {{ usuario.address.street }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



    <br>
    <div id='container7'>
        Renderizado Condicional con v-if <br>
        Container7, <br>
        <h6 v-if="numero_uno > numero_dos"> {{ numero_uno }} mayor que {{ numero_dos }}</h6>
        <h6 v-else-if="numero_uno < numero_dos"> {{ numero_uno }} menor que {{ numero_dos }}</h6>
        <h6 v-else> {{ numero_uno }} igual que {{ numero_dos }}</h6>
        <br>
        No hi pot haver un v-for en el mateix element que un v-if. el v-for té preferència.
        Si cal fer-ho ho hem de calcular en una propietat prèviament en el JS.
    </div>



    <br>
    <div id='container8'>
        Manejo de Eventos <br>
        + Visibilidad Condicional con v-show. Diferencia con v-if <br>
        Container8, <br>
        <button class="btn indigo darken-4" v-on:click="(contador++)"> Haz clic +</button> <br>
        <button class="btn indigo darken-4" @click="(contador--)"> Haz clic -</button> <br>
        <button class="btn indigo darken-4" v-on:mouseover="(contador--)"> mouseover -</button> <br>
        <button class="btn indigo darken-4" v-on:mouseout="(estado = false)" v-on:mouseover="(estado=true)"> mouseover
            estado</button> <br>
        {{ contador }} <br>
        estado: {{ estado }} <br>
        <span v-show="estado">v-show (condicional, lightweight css)</span> <br>
        <span v-if="estado">v-if (condicional, guardat en memoria i eliminat del DOM)</span> <br>
        <select name="select8" id="select8" v-on:change="cambiarTexto($event)" class="browser-default">
            <option value="textCSS">CSS</option>
            <option value="textJS">JS</option>
        </select>
        <span v-bind:title="texto"> v-bind:title texto</span> | <span :title="texto"> :title texto</span>
    </div>


    <br>
    <div id='container9'>
        Manejo de Propiedades "Booleanas" de Etiquetas HTML
        <br>
        Container9,
        <br>
        <form action="">
            <input type="text" v-bind:disabled="txtDisabled" v-bind:required="txtRequired"
                placeholder="toogle disabled">
            <br>
            <input type="text" v-bind:disabled="(usuarios > 5)" title="condition usuarios > 5 disabled"
                v-bind:required="txtRequired" v-bind:value="usuarios">
            <br>
            <label for="">
                <input type="checkbox" v-bind:checked="chkChecked">
                <span></span>
                chkChecked
            </label>
            <br>
            <select class="browser-default">
                <option v-for="fruta in frutas" v-bind:value="fruta.id" v-bind:selected="fruta.selected">{{ fruta.id }}
                    - {{ fruta.nombre }}</option>
            </select>
            <br>
            <button type="button" v-on:click="toogleInputs()">Toogle button</button>
            <button type="submit">Enviar</button>
        </form>
    </div>




    <br>
    <div id='container10'>
        Enlace de Clases CSS v-bind:class
        <br>
        Container10, en aquest cas, la var de v-bind està entre claus simples: {var}
        <br>
        <div class="container" style="padding-top:0.75rem;">
            <div class="square teal" v-bind:class="{rounded, novaclasse:true, newclass2: i>2}"></div>
        </div>
        <br>
        <div class="container" style="padding-top:0.75rem;">
            <div class="square green" v-bind:class="myClass"></div>
        </div>
        <br>
        <div class="container" style="padding-top:0.75rem;">
            <div class="square" v-bind:class="[roundedClass]"></div>
        </div>
        <br>
        <div class="container" style="padding-top:0.75rem;">
            <div class="square black" v-bind:class="[enableRoundedClass ? roundedClass: false]"></div>
        </div>
        <br>
        <button type="button" v-on:click="toogle()">Toogle button</button>
    </div>




    <br>
    <div id='container11'>
        Enlace de Estilos v-bind:style
        <br>
        Container11, 
        <br>
        <div v-bind:style="{'font-size':'16px', backgroundColor: 'green'}">
            Hola mundo, direct
        </div>
        <br>
        <div v-bind:style="{'font-size':'16px', backgroundColor: color}">
            Hola mundo, direct with bgcolor var
        </div>
        <br>
        <div v-bind:style="myStyle">
            Hola mundo, myStyle object
        </div>
        <br>
        <div v-bind:style="[myStyle, myStyle2]">
            Hola mundo
        </div>
    </div>



    <br>
    <div id='container12'>
        Propiedades Calculadas
        <br>
        Container12, 
        <br>
        <div class="container" style="padding-top:0.75rem;">
            <input type="text" v-model="n1" placeholder="n1">
            <input type="text" v-model="n2" placeholder="n2">
            <h6>La suma es {{ resultado }}</h6>
            <hr>
            <label for="">Escriba una fruta</label>
            <input type="text" v-model="fruta" placeholder="fruta">
            <button type="button" v-on:click="agregarFruta">Agregar fruta</button>
            <ul>
                <li v-for="fruta in frutas">{{ fruta }}</li>
            </ul>
            <span>Ha agregado un total de {{ total_frutas }} frutas</span>
            <br>
        </div>
    </div>




    <br>
    <div id='container13'>
        Ciclo de vida de Vue <br>
        Container13, <br>
        {{ nombre }}
    </div>




    <br>
    <div id='container14'>
        Componentes y Traspaso de Datos <br>
        Container14, <br>
        <!-- La variable post del vue li passem al model amb v-bind -->
        <hello-world-14 v-for="post in posts" v-bind:post="post"></hello-world-14>
    </div>




    <br>
    <div id='container15'>
        Container15, <br>
    </div>




    <br>
    <div id='container16'>
        Container16, <br>
    </div>




    <br>
    <div id='container17'>
        Container17, <br>
    </div>




    <br>
    <div id='container18'>
        Container18, <br>
    </div>



    <br>
    <div id='container19'>
        Container19, <br>
    </div>



    <br>
    <div id='container20'>
        Container20, <br>
    </div>




    <br>
    <div id='container21'>
        Container21, <br>
    </div>




    <br>
    <div id='container22'>
        Container22, <br>
    </div>
    <br>






    <!--footer-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/vue.scripts.js"></script>
</body>

</html>